source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget Fable.Browser.Navigator
nuget Fable.Core
nuget Fable.Promise
nuget Fable.Remoting.Client
nuget Fable.Remoting.Giraffe
nuget Feliz
nuget Feliz.Popover
nuget Feliz.Router
# Don't use official NuGet because Fast refresh is broken
# I will, send a PR to fix the official NuGet when I have time
# nuget Feliz.UseElmish
nuget Feliz.Bulma
nuget Feliz.UseListener
nuget Fable.FontAwesome.Free
nuget Fable.Elmish
nuget Fable.Form
nuget Feliz.UseDeferred
nuget Glutinum.Fuse
nuget Saturn prerelease

// core
nuget FSLogger

// Fable
nuget Thoth.Json
